body {
}

#root {

}

.charts {
    width: 100vw;
}

.chart-container {
    flex: 1;
    width: 29%;
    display: inline-flex;
    margin: 0 2%;
}

.chart {
    width: 100%;
    height: 100%;
    pointer-events: none; /* so that you can resize the element */
    display: block;
    position: relative;
    font-family: "Verdana";
    font-size: 1vw;

}

.chart-liquidity {
    background: url("./img/liquidity-graph-background-image.png") no-repeat center center;
    background-size: auto 50%;
}

.chart-protection {
    background: url("./img/protection-graph-background-image.png") no-repeat center center;
    background-size: auto 50%;
}

.chart-growth {
    background: url("./img/growth-graph-background-image.png") no-repeat center center;
    background-size: auto 50%;
}


.chart__line-dark {
    stroke: #717782;
}

.chart__line-light {
    stroke: #dee1e3;
}

.chart__line-dotted {
    stroke: #565656;
    stroke-dasharray: 1, 1;
}

.chart__line__label {
    text-anchor: end;
    fill: #717782;
}

.chart__grid {
    background-color: green;
}

.chart__y-axis text {
    text-anchor: left;
}

.chart__y-axis text.zero {
    text-anchor: right;
}

.chart__bar.chart__bar-negative > rect, .chart__bar.chart__bar-negative > g > text {
    fill: #e20000;
}

.chart__bar-desired > rect {
    fill: #2f4e72;
}

.chart__bar-current > rect {
    fill: #13acbe;
}

.chart__bar-stacked-1 > rect {
    fill: #29c6c6;
}

.chart__bar-stacked-2 > rect {
    fill: #13acbe;
}
